name: App build with Zephyr West

defaults:
  run:
    working-directory: ./sw


on:
  push:
    paths:
      - 'sw/**'
    tags:
      - 'v*'
  pull_request:
    paths:
      - 'sw/**'

permissions:
  contents: write
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: jtag-switch
          toolchains: arm-zephyr-eabi

      - name: Build
        run: |
          west build -b frdm_k64f --pristine sw/jtag-switch

      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: hw-build
      #     path: |
      #       hw/docs
      #       hw/fabrication

      # - name: Create Release with artifacts
      #   if: startsWith(github.ref, 'refs/tags/')
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: |
      #       hw/fabrication/*
      #       hw/docs/*